<section id="home-page">
    <div class="introduction">
        <h1 class="title">ABC</h1>
        <h6 class="text">ABC DEFG HI KL MNO</h6><br>
        <h6 class="text">ABC DEFG HI KL MNO</h6><br>
        <h6 class="text">ABC DEFG HI KL MNO</h6><br>
        <h6 class="text">ABC DEFG HI KL MNO</h6><br>
        <h6 class="text">ABC DEFG HI KL MNO</h6><br>
        <h6 class="text">ABC DEFG HI KL MNO</h6><br>
        <a href="#footer" class="get-started">Let's get started</a>
    </div>
    <link rel="stylesheet" href="/assets/css/demo/home.css">
</section>
