html {
    font-size: 16px;
    --footer-height: 10rem;
}

/*header*/
header .icon-app {
    width: 2rem;
}

@media only screen and (max-width: 991px){
    body {
        overflow-x: hidden;
    }
}


/*footer*/
footer {
    position: relative;
    bottom: 0;
    background-color: rgb(203, 170, 235);
    height: var(--footer-height);
    z-index: 1000;
    
}

footer .logo-and-contact {
    position: relative;
    top: 2rem;
}

footer .contact .icon-app {
    width: 3rem;
}

footer .logo-and-contact .row .col a {
    text-decoration: none;
}

.fa {
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    padding: 0;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

footer .social-contact{
    position: relative;
    width: 12rem;
    bottom: -3rem;
}
footer .social-contact .row .col{
    padding: 0;
    width: auto;
}

