*{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

#home-page .title{
    font-size: 2.5em;
    font-weight: 700;
}
@media only screen and (max-width: 767px) {
    #home-page .title{
        font-size: 1.5em;
        font-weight: 700;
    }
}
#home-page {
    height: 100%;
}

#home-page .introduction{
    position: relative;
    left: 20vw;
    width: 40vw;
    top: 3rem;
}

#home-page .get-started{
    color:white;
    background-color: black;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    padding: 2%;
    border-radius: 1rem;
}
