<section id="alphabet-page">
    <div id="alphabet-banner"></div>
    <div id="wrapper">
        <!--bảng ngoài cùng, chia ra làm 2 phần inline-block-->
        <div class="table-of-characters">
            <div class="line-of-characters a">
                <div class="character">
                    <h3 class="hira-character">あ</h3>
                    <a>a</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">い</h3>
                    <a>i</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">う</h3>
                    <a>u</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">え</h3>
                    <a>e</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">お</h3>
                    <a>o</a>
                </div>
            </div>
            <div class="line-of-characters ka">
                <div class="character">
                    <h3 class="hira-character">か</h3>
                    <a>ka</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">き</h3>
                    <a>ki</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">く</h3>
                    <a>ku</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">け</h3>
                    <a>ke</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">こ</h3>
                    <a>ko</a>
                </div>
            </div>
            <div class="line-of-characters sa">
                <div class="character">
                    <h3 class="hira-character">さ</h3>
                    <a>sa</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">し</h3>
                    <a>shi</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">す</h3>
                    <a>su</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">せ</h3>
                    <a>se</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">そ</h3>
                    <a>so</a>
                </div>
            </div>
            <div class="line-of-characters ta">
                <div class="character">
                    <h3 class="hira-character">た</h3>
                    <a>ta</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ち</h3>
                    <a>chi</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">つ</h3>
                    <a>tsu</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">て</h3>
                    <a>te</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">と</h3>
                    <a>to</a>
                </div>
            </div>
            <div class="line-of-characters na">
                <div class="character">
                    <h3 class="hira-character">な</h3>
                    <a>na</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">に</h3>
                    <a>ni</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ぬ</h3>
                    <a>nu</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ね</h3>
                    <a>ne</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">の</h3>
                    <a>no</a>
                </div>
            </div>
            <div class="line-of-characters ha">
                <div class="character">
                    <h3 class="hira-character">は</h3>
                    <a>ha</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ひ</h3>
                    <a>hi</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ふ</h3>
                    <a>fu</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">へ</h3>
                    <a>he</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ほ</h3>
                    <a>ho</a>
                </div>
            </div>
            <div class="line-of-characters ma">
                <div class="character">
                    <h3 class="hira-character">ま</h3>
                    <a>ma</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">み</h3>
                    <a>mi</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">む</h3>
                    <a>mu</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">め</h3>
                    <a>me</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">も</h3>
                    <a>mo</a>
                </div>
            </div>
            <div class="line-of-characters ya">
                <div class="character">
                    <h3 class="hira-character">や</h3>
                    <a>ya</a>
                </div>
                <div class="character"></div>
                <div class="character">
                    <h3 class="hira-character">ゆ</h3>
                    <a>yu</a>
                </div>
                <div class="character"></div>
                <div class="character">
                    <h3 class="hira-character">よ</h3>
                    <a>yo</a>
                </div>
            </div>
            <div class="line-of-characters ra">
                <div class="character">
                    <h3 class="hira-character">ら</h3>
                    <a>ra</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">り</h3>
                    <a>ri</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">る</h3>
                    <a>ru</a>
                </div> 
                <div class="character">
                    <h3 class="hira-character">れ</h3>
                    <a>re</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ろ</h3>
                    <a>ro</a>
                </div>
            </div>
            <div class="line-of-characters wa">
                <div class="character">
                    <h3 class="hira-character">わ</h3>
                    <a>wa</a>
                </div>
                <div class="character"></div>
                <div class="character">
                    <h3 class="hira-character">を</h3>
                    <a>wo</a>
                </div>
                <div class="character"></div>
                <div class="character">
                    <h3 class="hira-character">ん</h3>
                    <a>n</a>
                </div>
            </div>
        </div>
        <div class="table-of-characters">
            <div class="line-of-characters"></div>
            <div class="line-of-characters ga">
                <div class="character">
                    <h3 class="hira-character">が</h3>
                    <a>ga</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ぎ</h3>
                    <a>gi</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ぐ</h3>
                    <a>gu</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">げ</h3>
                    <a>ge</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ご</h3>
                    <a>go</a>
                </div>
            </div>
            <div class="line-of-characters za">
                <div class="character">
                    <h3 class="hira-character">ざ</h3>
                    <a>za</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">じ</h3>
                    <a>ji</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ず</h3>
                    <a>zu</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ぜ</h3>
                    <a>ze</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ぞ</h3>
                    <a>zo</a>
                </div>
            </div>
            <div class="line-of-characters da">
                <div class="character">
                    <h3 class="hira-character">だ</h3>
                    <a>da</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ぢ</h3>
                    <a>dji</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">づ</h3>
                    <a>dzu</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">で</h3>
                    <a>de</a>
                </div>
                <div class="character">
                    <h3 class="hira-character">ど</h3>
                    <a>do</a>
                </div>
            </div>
            <div class="line-of-characters"></div>
            <div class="line-of-characters ba">
                <div class="character">
                    <h3 class="hira-character">ば</h3>
                    <a>ba</a></div>
                <div class="character">
                    <h3 class="hira-character">び</h3>
                    <a>bi</a></div>
                <div class="character">
                    <h3 class="hira-character">ぶ</h3>
                    <a>bu</a></div>
                <div class="character">
                    <h3 class="hira-character">べ</h3>
                    <a>be</a></div>
                <div class="character">
                    <h3 class="hira-character">ぼ</h3>
                    <a>bo</a></div>
            </div>
            <div class="line-of-characters pa">
                <div class="character">
                    <h3 class="hira-character">ぱ</h3>
                    <a>pa</a></div>
                <div class="character">
                    <h3 class="hira-character">ぴ</h3>
                    <a>pi</a></div>
                <div class="character">
                    <h3 class="hira-character">ぷ</h3>
                    <a>pu</a></div>
                <div class="character">
                    <h3 class="hira-character">ぺ</h3>
                    <a>pe</a></div>
                <div class="character">
                    <h3 class="hira-character">ぽ</h3>
                    <a>po</a></div>
            </div>
            <div class="line-of-characters"></div>
            <div class="line-of-characters"></div>
            <div class="line-of-characters"></div>
        </div>
    </div>
    <link rel="stylesheet" href="/assets/css/hira_kata/alphabet.css">
</section>