<section id="alphabet-page">
    <div id="alphabet-banner"></div>
    <div id="wrapper">
        <!--bảng ngoài cùng, chia ra làm 2 phần inline-block-->
        <div class="table-of-characters">
            <div class="line-of-characters a">
                <div class="character">
                    <h3 class="kata-character">ア</h3>
                    <a>a</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">イ</h3>
                    <a>i</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ウ</h3>
                    <a>u</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">エ</h3>
                    <a>e</a> 
                </div>
                <div class="character">
                    <h3 class="kata-character">オ</h3>
                    <a>o</a>
                </div>
            </div>
            <div class="line-of-characters ka">
                <div class="character">
                    <h3 class="kata-character">カ</h3>
                    <a>ka</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">キ</h3>
                    <a>ki</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ク</h3>
                    <a>ku</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ケ</h3>
                    <a>ke</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">コ</h3>
                    <a>ko</a>
                </div>
            </div>
            <div class="line-of-characters sa">
                <div class="character">
                    <h3 class="kata-character">サ</h3>
                    <a>sa</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">シ</h3>
                    <a>shi</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ス</h3>
                    <a>su</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">セ</h3>
                    <a>se</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ソ</h3>
                    <a>so</a>
                </div>
            </div>
            <div class="line-of-characters ta">
                <div class="character">
                    <h3 class="kata-character">タ</h3>
                    <a>ta</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">チ</h3>
                    <a>chi</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ツ</h3>
                    <a>tsu</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">テ</h3>
                    <a>te</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ト</h3>
                    <a>to</a>
                </div>
            </div>
            <div class="line-of-characters na">
                <div class="character">
                    <h3 class="kata-character">ナ</h3>
                    <a>na</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ニ</h3>
                    <a>ni</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ヌ</h3>
                    <a>nu</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ネ</h3>
                    <a>ne</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ノ</h3>
                    <a>no</a>
                </div>
            </div>
            <div class="line-of-characters ha">
                <div class="character">
                    <h3 class="kata-character">ハ</h3>
                    <a>ha</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ヒ</h3>
                    <a>hi</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">フ</h3>
                    <a>fu</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ヘ</h3>
                    <a>he</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ホ</h3>
                    <a>ho</a>
                </div>
            </div>
            <div class="line-of-characters ma">
                <div class="character">
                    <h3 class="kata-character">マ</h3>
                    <a>ma</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ミ</h3>
                    <a>mi</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ム</h3>
                    <a>mu</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">メ</h3>
                    <a>me</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">モ</h3>
                    <a>mo</a>
                </div>
            </div>
            <div class="line-of-characters ya">
                <div class="character">
                    <h3 class="kata-character">ヤ</h3>
                    <a>ya</a>
                </div>
                <div class="character"></div>
                <div class="character">
                    <h3 class="kata-character">ユ</h3>
                    <a>yu</a>
                </div>
                <div class="character"></div>
                <div class="character">
                    <h3 class="kata-character">ヨ</h3>
                    <a>yo</a>
                </div>
            </div>
            <div class="line-of-characters ra">
                <div class="character">
                    <h3 class="kata-character">ラ</h3>
                    <a>ra</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">リ</h3>
                    <a>ri</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ル</h3>
                    <a>ru</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">レ</h3>
                    <a>re</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ロ</h3>
                    <a>ro</a>
                </div>
            </div>
            <div class="line-of-characters wa">
                <div class="character">
                    <h3 class="kata-character">ワ</h3>
                    <a>wa</a>
                </div>
                <div class="character"></div>
                <div class="character">
                    <h3 class="kata-character">ヲ</h3>
                    <a>wo</a>
                </div>
                <div class="character"></div>
                <div class="character">
                    <h3 class="kata-character">ン</h3>
                    <a>n</a>
                </div>
            </div>
        </div>
        <div class="table-of-characters">
            <div class="line-of-characters"></div>
            <div class="line-of-characters ga">
                <div class="character">
                    <h3 class="kata-character">ガ</h3>
                    <a>ga</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ギ</h3>
                    <a>gi</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">グ</h3>
                    <a>gu</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ゲ</h3>
                    <a>ge</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ゴ</h3>
                    <a>go</a>
                </div>
            </div>
            <div class="line-of-characters za">
                <div class="character">
                    <h3 class="kata-character">ザ</h3>
                    <a>za</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ジ</h3>
                    <a>ji</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ズ</h3>
                    <a>zu</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ゼ</h3>
                    <a>ze</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ゾ</h3>
                    <a>zo</a>
                </div>
            </div>
            <div class="line-of-characters da">
                <div class="character">
                    <h3 class="kata-character">ダ</h3>
                    <a>da</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ヂ</h3>
                    <a>dji</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ヅ</h3>
                    <a>dzu</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">デ</h3>
                    <a>de</a>
                </div>
                <div class="character">
                    <h3 class="kata-character">ド</h3>
                    <a>do</a>
                </div>
            </div>
            <div class="line-of-characters"></div>
            <div class="line-of-characters ba">
                <div class="character">
                    <h3 class="kata-character">バ</h3>
                    <a>ba</a></div>
                <div class="character">
                    <h3 class="kata-character">ビ</h3>
                    <a>bi</a></div>
                <div class="character">
                    <h3 class="kata-character">ブ</h3>
                    <a>bu</a></div>
                <div class="character">
                    <h3 class="kata-character">ベ</h3>
                    <a>be</a></div>
                <div class="character">
                    <h3 class="kata-character">ボ</h3>
                    <a>bo</a></div>
            </div>
            <div class="line-of-characters pa">
                <div class="character">
                    <h3 class="kata-character">パ</h3>
                    <a>pa</a></div>
                <div class="character">
                    <h3 class="kata-character">ピ</h3>
                    <a>pi</a></div>
                <div class="character">
                    <h3 class="kata-character">プ</h3>
                    <a>pu</a></div>
                <div class="character">
                    <h3 class="kata-character">ペ</h3>
                    <a>pe</a></div>
                <div class="character">
                    <h3 class="kata-character">ポ</h3>
                    <a>po</a></div>
            </div>
            <div class="line-of-characters"></div>
            <div class="line-of-characters"></div>
            <div class="line-of-characters"></div>
        </div>
    </div>
    <link rel="stylesheet" href="/assets/css/hira_kata/alphabet.css">
</section>
